* {
    padding: 20px;
    margin: 20px;
    font-size: 40px;
  }

  .box-one {
    background-color: red;
    border: 20px solid purple;
  } 
  
  .box-two {
    background-color: blue;
    border: 20px solid yellow;
  } 
  